.body-fixed {
  position: fixed;
}

.header {
  background-color: var(--color-black);
  padding: 31px 79px 30.27px 86px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-header p {
  color: var(--color-white);
  text-transform: uppercase;
}

.menu-list {
  display: flex;
  gap: 55px;
}

.menu-list li {
  color: var(--color-white);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menu-list li:hover {
  color: var(--color-red);
}

.hamburger-menu {
  display: none;
}

@media screen and (max-width: 1200px) {
  .header {
    padding: 31px 69px 30.27px 76px;
  }

  .logo-header p {
    font-size: 24px;
  }

  .menu-list {
    gap: 45px;
  }

  .menu-list li {
    font-size: 16px;
  }
}

@media screen and (max-width: 990px) {
  .header {
    padding: 31px 59px 30.27px 66px;
  }

  .logo-header img {
    width: 50px;
    height: 50px;
  }

  .logo-header p {
    font-size: 20px;
  }

  .menu-list {
    gap: 20px;
  }

  .menu-list li {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 25px 49px 26px 56px;
  }

  .logo-header p {
    font-size: 16px;
  }

  .menu-list {
    gap: 10px;
  }

  .menu-list li {
    font-size: 10px;
  }

  .logo-header img {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 576px) {
  .header {
    padding: 25px 49px 26px 56px;
    flex-direction: row-reverse;
  }

  /* .menu-wrapper {
    position: fixed;
    inset: 0;
    z-index: 2;
  } */

  .menu-list {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: min(100%, 400px);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    transform: translateX(-100%);
    transition: all 0.4s linear;
    opacity: 0;
  }

  .menu-list.menu-list-active {
    transform: translateX(0);
    opacity: 1;
  }

  .menu-list li {
    color: var(--color-black);
    font-size: 18px;
    padding: 20px 50px 20px 50px;
  }

  .menu-list li:hover {
    background-color: var(--color-grey);
  }

  .menu-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 1;
    background-color: var(--color-black);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
  }

  .menu-overlay.menu-overlay-active {
    visibility: visible;
    opacity: 0.4;
  }

  .hamburger-menu {
    position: absolute;
    z-index: 2;
    top: 35px;
    left: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }

  .hozirontal {
    background-color: red;
    width: 24px;
    height: 3px;
    border-radius: 4px;
    transition: all 0.3s ease;
  }

  .hamburger-menu.hamburger-active .hozirontal {
    background-color: var(--color-red);

    &:nth-child(1) {
      transform: translate(0, 8px) rotate(-45deg);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      transform: translate(0, -8px) rotate(45deg);
    }
  }
}
