.why-choose-us {
  max-width: 1440px;
  margin: auto;
  background-color: var(--color-grey);
  margin-top: 112.54px;
  padding: 111px 149px;
}

.box-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
}

.box-content {
  padding: 60px 21px 50px 29px;
  background-color: var(--color-white);
  border-radius: 10px;
  cursor: pointer;
}

.box-number {
  color: var(--color-red);
}

.title-box {
  margin-top: 27px;
  color: #5c5c5c;
}

.desc-box {
  color: #787878;
  margin-top: 13px;
}

.box-content,
.box-content,
.title-box,
.desc-box {
  transition: all 0.4s ease;
}

.box-content:hover {
  background-color: var(--color-red);
}

.box-content:hover .desc-box,
.box-content:hover .box-number,
.box-content:hover .title-box {
  color: var(--color-white);
}

@media screen and (max-width: 1200px) {
  .why-choose-us {
    max-width: 1200px;
    padding: 90px 120px;
  }

  .box-wrapper {
    grid-gap: 20px;
  }

  .box-text-content h2 {
    font-size: 40px;
    line-height: 44px;
  }

  .box-content {
    padding: 50px 11px 40px 19px;
  }

  .title-box {
    margin-top: 22px;
    font-size: 20px;
    line-height: 24px;
  }

  .desc-box {
    margin-top: 10px;
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (max-width: 992px) {
  .why-choose-us {
    max-width: 992px;
    padding: 70px 70px;
  }

  .box-wrapper {
    grid-gap: 10px;
  }

  .box-text-content h2 {
    font-size: 35px;
    line-height: 40px;
  }

  .box-content {
    padding: 40px 8px 30px 12px;
  }

  .box-number {
    font-size: 40px;
    line-height: 44px;
  }

  .title-box {
    margin-top: 18px;
    font-size: 16px;
    line-height: 20px;
  }

  .desc-box {
    margin-top: 10px;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 768px) {
  .why-choose-us {
    max-width: 768px;
    padding: 70px 60px;
  }

  .box-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
  }
}

@media screen and (max-width: 576px) {
  .why-choose-us {
    max-width: 576px;
    padding: 60px 50px;
  }

  .box-wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }

  .box-content {
    padding: 40px;
  }

  .box-text-content h2 {
    font-size: 40px;
    line-height: 44px;
  }

  .box-number {
    font-size: 60px;
    line-height: 64px;
  }

  .title-box {
    margin-top: 20px;
    font-size: 22px;
    line-height: 24px;
  }

  .desc-box {
    margin-top: 18px;
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 390px) {
  .why-choose-us {
    max-width: 390px;
    padding: 60px 30px;
  }

  .box-wrapper {
    grid-gap: 20px;
  }
}
